
[Unit]
Description=ezz456ch-feed
Wants=network.target
After=network.target

[Service]
User=ezz456ch
RuntimeDirectory=ezz456ch-feed
ExecStart=/usr/local/share/ezz456CH/ezz456ch-feed.sh
Type=simple
Restart=always
RestartSec=30
StartLimitInterval=1
StartLimitBurst=100
SyslogIdentifier=ezz456ch-feed
Nice=-1

[Install]
WantedBy=default.target
